**/Archive

/Root/File/WCode_Installer_x64.msi
/Root/File/WCode_Installer_x86.msi
/Root/File/WordList.txt

/Root/Resource/Adoption-Active.png
/Root/Resource/Adoption-Passive.png
/Root/Resource/Apple-Touch-Icon.png
/Root/Resource/Bar_Code.png
/Root/Resource/Broken_Slash.png
/Root/Resource/Comics.png
/Root/Resource/FavIcon.ico
/Root/Resource/General-Use_Case.png
/Root/Resource/Icon_Social.png
/Root/Resource/LG_Example.png
/Root/Resource/LG_W_Code.png
/Root/Resource/Logo.png
/Root/Resource/Logo.svg
/Root/Resource/Logo_BackSlash.png
/Root/Resource/Logo_Full.png
/Root/Resource/Logo_Full.svg
/Root/Resource/Logo_FwdSlash.png
/Root/Resource/Logo_N.png
/Root/Resource/Logo_W.png
/Root/Resource/PayPal-Button.png
/Root/Resource/QR_Code.png
/Root/Resource/Screen_Guide.png
/Root/Resource/W_Code.png
