DirectoryIndex index.html

RewriteBase /
RewriteEngine On
DirectorySlash Off

RewriteRule ^(.+)/$ $1 [R=301]

rewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ $1/index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.json$ $1/index.json [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.jpg$ $1/index.jpg [L]
