.pml-open #path,.hide_path_title_updated #path,.pml-open #title,.hide_path_title_updated #title,.pml-open #updated,.hide_path_title_updated #updated,.hide {
	opacity: 0
}

.hide {
	transition: all 0.3s;
}

.hide_scale {
  transform: scaleY(0);
}
