#data_set-table {
	border-spacing: 8px 8px
}

#data_set-table .R1 {
	width: 64px
}

#data_set-table .R2 {
	width: 140px
}

#data_set-table th {
	text-align: left
}

#data_set_custom-table {
	border-spacing: 10px 4px
}

#data_set_custom-table caption {
	text-align: left;
	padding-left: 10px
}
