span#bar-code, span#qr-code {
	display: inline-block;
	width: 147px
}

#codes-table {
	text-align: center;
	border-spacing: 50px 48px;
	margin: 0 auto;
	border-width: 2px
}

#comparison-table .t-data {
	width: 48px;
	text-align: center;
	display: inline-block;
}

.tbl-col {
	display: inline-block;
	margin-top: 10px;
}

#codes-table-label {
	margin: 20px 0
}

#codes-table-top {
	margin: 20px;
	font-size: 17px
}

#codes-table-bottom {
	margin: 20px;
	font-size: 17px
}

.alt_div_shade > div:nth-child(odd) {
	padding: 0px 0 28px;
}

.alt_div_shade > div:nth-child(even) {
	padding: 20px 0 28px;
	background-image: -webkit-linear-gradient(left,#f2f2f2,transparent)
}

summary::-webkit-details-marker {
	color: #ddd
}
