# Do not remove this line, otherwise mod_rewrite rules will stop working

ErrorDocument 403 "Error: 403. You do not have access permission"
ErrorDocument 404 "Error: 404. Page Not Found! Sorry :("

DefaultType text/html
DirectoryIndex root

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} !^wcodes\.org [NC]
RewriteRule ^/?(.*)$ http://wcodes.org/$1 [L,R=301]

<IfModule mod_expires.c>
    ExpiresActive on
	ExpiresDefault "access plus 2 hours"
	<IfModule mod_headers.c>
       Header unset ETag
       Header unset Pragma
       Header unset Last-Modified
       Header append Cache-Control "public, no-transform, must-revalidate"
       Header set Last-modified "Tue, 1 Oct 2014 10:10:10 GMT"
    </IfModule>
</IfModule>
