.content { font-size: 16px; }
.content ol { padding-left:20px; }
.content ul {padding-left: 24px; margin-top:8px;}
.content h1 {/* padding-left: 108px; */}
.content p { padding-left:20px; }
/*.content a { color:#00F; text-decoration:none; }*/
.content-link { text-decoration:none;color: #69b7cf !important;}
.content-link-grey { text-decoration:none;color: #ccc !important;}
.content-link-grey:hover { text-decoration: none; color: #69b7cf !important; }
.content-high { background:#DDD; padding:0 4px; }
.content-low { color:#CCC; }
.content-list ol { font-size:15px; font-family:Arial; background-color:transparent; vertical-align:baseline; }
.content-list > li { font-size:15px; font-family:Arial; background-color:transparent; vertical-align:baseline; padding-bottom:14px; }
.content-list-2 > li { padding-bottom:8px;font-size: larger;}
.indent-16 { padding-left:16px; }
.indent-10 { padding-left:10px; }
.indent-20 { padding-left:20px; }
/*.indent-30 { padding-left:30px; }*/
.indent-40 { padding-left:40px !important; }
.indent-60 { padding-left:60px !important; }
.indent-32 { padding: 8px 0 0 32px !important; }
.space-10 { padding-top: 10px; }

.image-desc { padding-left:40px; }
.cell { margin-left: 2px; }

.note-title { float:left; width:5%; }
.note-content { float:left; width:95%; }

.downlaod-hash {  font-size:12px;display: block;color: #cccccc !important;}
.download-hash-value {  font-family:consolas;color: #C9C9C9 !important;}

.font-11 { font-size:11px; }
.font-16 { font-size:16px; }

.text-right { text-align:right; }
.indent-20-r { padding-right:20px; }

.top-bottom-gap { padding:12px 0 12px; }
.list-dash { list-style-type:none; padding-left:28px; }
.list-dash li { margin-bottom: 10px; }
.code-font { font-family:consolas; }

.no-margin { margin:0; }

.link-no-deco { text-decoration:none; }

.video { padding-left:22px; }

#me-table {border-spacing: 6px 8px;}
#me-table .R1 { text-align:right;width: 100px;/* font-weight: bold; */color: #69b7cf;}
#me-table .R2 { text-align:left;/* width: 50%; *//* color: #69b7cf; */}

#content-timeline {padding-top:8px; }
#content-timeline .date { font-family:consolas; }

#codes-example { /* margin:0 0 0 -20px; */ padding: 0; }
#codes-table-label { text-align:center; margin: 20px 0;}
#codes-table { text-align:center; border-spacing: 50px 48px; margin: 0px auto; border-width: 2px;}
#codes-table-top { margin: 20px; font-size: 17px;}
.codes-table-mid-cell { display:inline-block; margin:16px 32px; vertical-align:middle; }

.tbl-col { display:inline-block; margin-top: 10px;}

#codes-table-bottom { margin: 20px; font-size: 17px;}
#bar_code { padding:0 10px 0 10px; }
#qr_code { ; }
.code_label { text-align:center; color:#444; font-size: initial;}
.code_value { text-align:center; color:#888; font-size: 16px; font-family:courior-new; }
.Code { font-size:15px; }

#code-ex-sep { padding:6px 0; font-size:13px; }

#manual-table { border-spacing:8px 8px; }
#manual-table .C1 { font-weight:bold; }
.manual-table-s { border-spacing:8px 6px; }
.manual-table-s.A { margin-left:-9px; }
.manual-table-s.A .C1{ width:94px; }
.manual-table-s caption { text-align:left; font-style:italic; }
.manual-table-s .C1 { width:84px; font-weight:bold; }
#comparison-table { /* margin: 4px 0px 6px 0px; */ padding: 0px 11px 0px 0px; border-spacing:4px 2px; /* background-color:#F2F2F2; */ }
#comparison-table > caption { text-align:left; }
#comparison-table th { text-align:left; padding-right:4px; font-weight:normal; }
#comparison-table td { padding:0 3px; }
#comparison-table .t-type { text-align:center; }
#comparison-table .t-size { text-align:center; }
#comparison-table .t-data { width: 48px; text-align: center;display: inline-block;}
#comparison-table .description { font-size:14px; }

.diagram { padding:20px 10px; position:relative; }

#sender-a { width:200px; height:140px; }
#label-sender-a { position:absolute; }
#encoder { width:80px; height:60px; background:#444; position:absolute; top:0px; right:0px; }
#ar-sender-receiver { width:200px; }
#receiver { width:200px; height:140px; }
#decoder { width:80px; height:60px; background:#444; position:absolute; top:0px; left:0px; }
#g-presentation { overflow:hidden; margin-top:20px; }
#ext-decoder { width:90px; height:40px; }
.punch-viewer-body { background:#FFF; }
#ar-ext-receiver { width:40px; }
#ar-sender-ext { width:40px; }

#feedback-contact-table { margin:6px 0px 8px 16px; border-spacing:8px 2px; }

.content-li-title {font-size: x-large; font-weight:bold; padding-bottom:4px;color: #69b7cf !important;}
.content-li-subtitle { font-size:14px; font-weight:bold; }
.use-case-table { margin:4px 0px 6px 16px; border-spacing:4px 2px; width:600px; }
.use-case-table > caption { text-align:left; }
.use-case-table tbody td { text-align:center; width:50%; font-family:consolas; }
.use-case-table strong { font-family:consolas; }
.use-case-table tfoot td { text-align:left; }
.content-li-example { color:#888; }
#presentation-frame {/* padding:8px 0 0 2px; */width: 100%;height: 500px;}

.pending {color: #CCCCCC !important;}
.ready {color: #69b7cf !important;}
.legend { padding-left:24px; }

.human_factor-table { border-spacing:4px 6px; width:600px; }
.human_factor-table td { text-align:center; width:200px; font-family:consolas; }

#reduction-table { border-spacing:4px 6px; }
#reduction-table > caption { text-align:left; padding-top:8px; }
#reduction-table th { text-align:right; padding-right:24px; }
#reduction-table td { text-align:center; font-family:consolas; padding:0 24px; }

#illustration-table { border-spacing:4px 6px; width:700px; table-layout:fixed; text-align:center; }
#illustration-table > caption { text-align:left; padding-top:12px; }
#illustration-table .C1 { width:76px; }
#illustration-table .C3 { width:152px; }
#illustration-table .R1 { height:78px; }
#illustration-table .R2 { height:78px; }
#illustration-table .R3 { height:78px; }
#illustration-table .type { font-weight:bold; text-align:right; }
#illustration-table .data { font-family:consolas; }
#illustration-table .map { margin:auto; border:1px solid; border-spacing:4px 6px; width:140px; table-layout:fixed; text-align:center; }
#illustration-table .map td { font-family:consolas; }
#illustration-table .map .top { padding-top:39px; }
#illustration-table .map caption { font-weight:bold; }
#illustration-table .div1 { padding-top:20px; }

#logo-table { padding:10px 0px 8px 0px; border-spacing:24px 8px; }
#logo-part-table { padding:12px 0px 8px 0px; border-spacing:24px 8px; }

.license-text { text-align:center; }
.tba { color:#ccc; }
.voice-com-table { border-spacing:20px 8px; }

.link-ref { font-style:italic; }

#wordlist-table {/* text-align:center; */ padding-left:20px; border-spacing:10px 10px;}

#data_set-table { border-spacing:8px 8px; }
#data_set-table th { text-align:left; }
#data_set-table .R1 { width:64px; }
#data_set-table .R2 { width:140px; }
#data_set-table caption { text-align:left; }
#data_set-table th { text-align:left; }

#data_set_custom-table { border-spacing:10px 4px; }
#data_set_custom-table caption { text-align:left; padding-left:10px; }

.red { color:#F00; }
.blue { color:#00F; }
.green { color:#0A0; }
.grey { color:#AAA; }
@media (min-width: 540px) {
	#codes-table-mid { height: 192px; }
	#codes-table-mid > div { display: inline-block; position: relative; height: 100%; width: 25%;}
	#codes-table-mid > div > div { display: block; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);}
}

@media (max-width: 540px) {
	#main-wrapper {padding: 0px }
	#canvas-main {/* padding-bottom: 48px; */width: 50%;}
	#header-wrapper { margin: 0 4px; }
	#header-wrapper-divider { margin: 0 15px; /* display: none; */}
	.shadow-scroll-top { margin: 0 15px; }
	.shadow-scroll-bottom { margin: 0 15px; }
	#footer-wrapper-divider { margin: 0 15px; /* display: none; */}
	.indent-60 { padding-left: 20px !important; }
	.indent-32 { padding-left: 12px !important; }
	#codes-table-mid div { display: block; margin: 20px;}
	#download-apple-bottom { clear:both; display: block;}
	#download-android-bottom {clear:both;display: block;margin: 10px auto;}
}

#comparision-table > div { display: inline-block; }

#what { /* background: #F2F2F2; *//* padding: 0px 0px; */}
#where {/* background: #F2F2F2; */padding: 20px 0px 28px 0px;/* -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); *//* background-color: transparent; */background-image: -webkit-linear-gradient(left,#F2F2F2,transparent);}
#why { /* background: #F2F2F2; */margin: 20px 0px;}
#how {/* background: #F2F2F2; */padding: 20px 0px 28px 0px;/* -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); *//* background-color: transparent; */background-image: -webkit-linear-gradient(left,#F2F2F2,transparent);}

.blue {color: rgb(105, 183, 207) !important;}
.gray {color: #C9C9C9 !important;}
.social { display:inline-block; margin: 20px; }
.download {  display:inline-block; margin: 10px; }
#downlaod-list { padding-top:4px; }
#download-windows-label { padding-left: 1px; }

blockquote {
    margin: 0px;
}

ul.content-list-2 {
    padding-left: 10px;
}

.progress {
    color: #444 !important;
}

span#bar-code.no-svg {
    background-image: url('/resource/bar_code.png');
}

span#bar-code {
    width: 160px;
    height: 100px;
}

span#qr-code.no-svg {
    background-image: url('/resource/qr_code.png');
}

span#qr-code {
    width: 147px;
    height: 147px;
}


blockquote {
    text-align: left;
}