#basis_image svg {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	max-width: 460px;
}

span#bar-code, span#qr-code {
	display: inline-block;
	width: 147px
}

#codes-table {
	text-align: center;
	border-spacing: 50px 48px;
	margin: 36px auto 0;
	border-width: 2px
}

#comparison-table .t-data {
	width: 48px;
	text-align: center;
	display: inline-block;
}

.tbl-col {
	display: inline-block;
	margin-top: 10px;
}

#codes-table-label {
	margin: 20px 0
}

#codes-table-top {
	margin: 20px;
	font-size: 17px
}

#codes-table-bottom {
	margin: 20px;
	font-size: 17px
}

#message.alt_div_shade {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.alt_div_shade > div {
	padding-left: 6px;	
}

.alt_div_shade > div:nth-child(odd) {
	padding-top: 0px;
	padding-bottom: 28px;
}

.alt_div_shade > div:nth-child(even) {
	padding-top: 20px;
	padding-bottom: 28px;
	background: linear-gradient(to right, #f2f2f2 20%, white);
}

summary::-webkit-details-marker {
	color: #ddd
}

.example {
	margin: 40px auto;
}

.example span {
	padding: 6px;
	font-size: large;
	white-space: nowrap;
}

.example_title {
	color: #AAA;
}

.example_data {
	color: #69b7cf;
	letter-spacing: 0.116em;
}

.example_connector {
	color: #DDD;
}

.example_wcode {
	color: #69b7cf;
}

#how ol {
	padding-left: 20px;
}

#how_message {
	padding-left: 84px;
}
