.content-list>li {
	font-size: 15px;
	background-color: transparent;
	vertical-align: baseline;
	padding-bottom: 14px
}

.content-list-2>li {
	padding-bottom: 8px
}

.content-li-title {
	font-size: x-large;
	font-weight: bold;
	padding-bottom: 4px;
	color: #69b7cf!important
}

ul.list-bullet {
	list-style: none!important
}

ul.list-bullet li {
	padding-left: 1em;
	text-indent: -.7em
}

ul.list-bullet li:before {
	content: "\002022";
	color: #c8c8c8!important;
	padding-right: 7px
}

ul.content-list-2 {
	padding-left: 10px
}
