RewriteEngine On

DirectoryIndex		Page.php

ErrorDocument		404							"Error: 404. Page Not Found! :("

RewriteBase			/

RewriteRule			^favicon.ico$				Resource/FavIcon.ico			[L]
RewriteRule			^apple-touch-icon.png$		Resource/Apple-Touch-Icon.png	[L]
RewriteRule			^icon-social.png$			Resource/Icon_Social.png		[L]

RewriteRule			^logo.png$					Resource/Logo.png				[L]
RewriteRule			^logo.svg$					Resource/Logo.svg				[L]
RewriteRule			^logo_full.png$				Resource/Logo_Full.png			[L]
RewriteRule			^logo_full.svg$				Resource/Logo_Full.svg			[L]

RewriteRule			^lg_example.png$			Resource/LG_Example.png			[L]

RewriteRule			^wordlist.txt				File/WordList.txt				[L]

RewriteRule			^WCodex64.msi				File/WCode_Installer_x64.msi	[L]
RewriteRule			^wcodex64.msi				File/WCode_Installer_x64.msi	[L]
RewriteRule			^WCodex86.msi				File/WCode_Installer_x86.msi	[L]
RewriteRule			^wcodex86.msi				File/WCode_Installer_x86.msi	[L]

RewriteRule			^style.css$ 				Style.php						[L]
RewriteRule			^script.js$					Script.php						[L]
					
RewriteRule			^root$						Page.php						[L]
RewriteRule			^about$						Page.php						[L]
RewriteRule			^adoption$					Page.php						[L]
RewriteRule			^applications$				Page.php						[L]
RewriteRule			^bug_report$				Page.php						[L]
RewriteRule			^changelog$					Page.php						[L]
RewriteRule			^comparision$				Page.php						[L]
RewriteRule			^data_set$					Page.php						[L]
RewriteRule			^downloads$					Page.php						[L]
RewriteRule			^faq$						Page.php						[L]
RewriteRule			^features$					Page.php						[L]
RewriteRule			^feedback$					Page.php						[L]
RewriteRule			^guidelines$				Page.php						[L]
RewriteRule			^implementations$			Page.php						[L]
RewriteRule			^license$					Page.php						[L]
RewriteRule			^logo$						Page.php						[L]
RewriteRule			^pitch$						Page.php						[L]
RewriteRule			^presentation$				Page.php						[L]
RewriteRule			^roadmap$					Page.php						[L]
RewriteRule			^source_code$				Page.php						[L]
RewriteRule			^technology$				Page.php						[L]
RewriteRule			^timeline$					Page.php						[L]
RewriteRule			^use_cases$					Page.php						[L]
RewriteRule			^user_guide$				Page.php						[L]
RewriteRule			^video$						Page.php						[L]
RewriteRule			^wordlist$					Page.php						[L]
RewriteRule			^about_me$					Page.php						[L]
RewriteRule			^about_project$				Page.php						[L]
RewriteRule			^about_site$				Page.php						[L]
RewriteRule			^clientele$					Page.php						[L]
RewriteRule			^in_pictures$				Page.php						[L]
RewriteRule			^media$						Page.php						[L]
RewriteRule			^menu$						Page.php						[L]

RewriteRule			^root.json$					Component.php					[L]
RewriteRule			^about.json$				Component.php					[L]
RewriteRule			^adoption.json$				Component.php					[L]
RewriteRule			^applications.json$			Component.php					[L]
RewriteRule			^bug_report.json$			Component.php					[L]
RewriteRule			^changelog.json$			Component.php					[L]
RewriteRule			^comparision.json$			Component.php					[L]
RewriteRule			^data_set.json$				Component.php					[L]
RewriteRule			^downloads.json$			Component.php					[L]
RewriteRule			^faq.json$					Component.php					[L]
RewriteRule			^features.json$				Component.php					[L]
RewriteRule			^feedback.json$				Component.php					[L]
RewriteRule			^guidelines.json$			Component.php					[L]
RewriteRule			^implementations.json$		Component.php					[L]
RewriteRule			^license.json$				Component.php					[L]
RewriteRule			^logo.json$					Component.php					[L]
RewriteRule			^pitch.json$				Component.php					[L]
RewriteRule			^presentation.json$			Component.php					[L]
RewriteRule			^recommendations.json$		Component.php					[L]
RewriteRule			^roadmap.json$				Component.php					[L]
RewriteRule			^source_code.json$			Component.php					[L]
RewriteRule			^technology.json$			Component.php					[L]
RewriteRule			^timeline.json$				Component.php					[L]
RewriteRule			^use_cases.json$			Component.php					[L]
RewriteRule			^user_guide.json$			Component.php					[L]
RewriteRule			^video.json$				Component.php					[L]
RewriteRule			^wordlist.json$				Component.php					[L]
RewriteRule			^about_me.json$				Component.php					[L]
RewriteRule			^about_project.json$		Component.php					[L]
RewriteRule			^about_site.json$			Component.php					[L]
RewriteRule			^clientele.json$			Component.php					[L]
RewriteRule			^in_pictures.json$			Component.php					[L]
RewriteRule			^media.json$				Component.php					[L]
