<div class="message">
	<div><strong>Write to:</strong></div>
	<br>
	<table id="feedback-contact-table">
		<tbody>
			<tr>
				<td>
					<a class="content-link" href="mailto:bug@wcodes.org?Subject=Bug">bug@wcodes.org</a>
				</td>
				<td>
					for reporting a bug
				</td>
			</tr>
			<tr>
				<td>
					<a class="content-link" href="mailto:feedback@wcodes.org?Subject=Feedback">feedback@wcodes.org</a>
				</td>
				<td>
					for feedback
				</td>
			</tr>
		</tbody>
	</table>
	Please do not contact with an 'idea'.<br>
	Any such message will be regarded as unsolicited communication.
	<div class="top-bottom-gap"></div>
	<div><strong>Comments:</strong></div>
	<div class="indent-40">
		<div class="fb-comments" data-href="http://wcodes.org/feedback" data-numposts="50"></div>
	</div>
</div>
