<div class='message'>
	<em><strong>Word</strong></em> selection criteria:
	<ol class='indent-40'>
		<li>
			Nouns
			<div class='content-li-example'>
				e.g. 'Moon' against 'Run'
			</div>
		</li>
		<li>
			Preferabely: tangible, non-absract nouns
			<div class='content-li-example'>
				e.g. 'Car' against 'Care'
			</div>
		</li>
		<li>
			Base, singular form of the word
			<div class='content-li-example'>
				e.g. 'Car' against 'Cars'
			</div>
		</li>
		<li>
			Popular
			<div class='content-li-example'>
				e.g. 'Car' against 'Tomahawk'
			</div>
		</li>
		<li>
			Simple pronounciation and spelling
			<div class='content-li-example'>
				e.g. 'Cat' against 'Penicillin'
			</div>
		</li>
		<li>
			Avoid words with spelling variantes<br>
			<div class='content-li-example'>
				e.g. 'Color' and 'Colour'
			</div>
		</li>
		<li>
			No compounded words
			<div class='content-li-example'>
				e.g. 'Volley-ball'
			</div>
		</li>
		<li>
			No objectionable words
			<div class='content-li-example'>
				e.g. 'Bomb' 'Dog' 'Pig'
			</div>
		</li>
		<li>
			No synonyms
			<div class='content-li-example'>
				e.g. 'Man' and 'Person'
			</div>
		</li>
		<li>
			Unique, Distinct and No Homophones
			<div class='content-li-example'>
				e.g. 'Apple' against 'Rose' and 'Rows'
			</div>
		</li>
	</ol>
	<div class='top-bottom-gap'>
	<strong>1024 word</strong> &ndash; 
	<a class='content-link' href='/wordlist.txt' target='_blank'>WordList.txt</a>
	[ v 1.0 ]
	</div>
	<div id='wordlist-table'>
	<?php
		$arWord = file('../../File/WordList.txt', FILE_IGNORE_NEW_LINES);
		$i = 0;
		for($r = 0; $r < 1024; $r++) {
	?>
			<span>
	<?php
				echo $arWord[$i++];
	?>
			</span>
	<?php
		}
	?>
	</div>
	<div class='top-bottom-gap'>
	<div><strong>Word suggestions:</strong></div> (Please limit your suggestions to improve this wordlist only)
	<div class='indent-40'>
		<div class='fb-comments' data-href='http://wcodes.org/wordlist' data-numposts='50'></div>
	</div>
</div>
