<div class="content">
	<div class='center'>
		<table id="me-table">
			<tr>
				<td class="R1">intro</td>
				<td class="R2">
					I am Ujjwal Singh from Nepal living in Bangalore, India
				</td>
			</tr>			<tr>
				<td class="R1">i believe</td>
				<td>
					<blockquote>
						We all belong to one family.<br>
						There is no 'personal' God, and no literal 'heaven' and 'hell'.<br>
						Do the 'right thing'; Not for the greed of a personal favour like the perks of a 'heaven' but becuase it is the right thing to do.<br>

						Technology is the biggest game-changer; we all will be 'one' - one fine day. That day &ndash;
						&nbsp;money would cease to exist and there will only be: number of likes
					</blockquote>
				</td>
			</tr>			<tr>
				<td class="R1">email</td>
				<td class="R2">
					<a class="content-link" href="mailto:uj@wcodes.org?Subject=WCode">uj@wcodes.com</a><br>
					<a class="content-link" href="mailto:ujjwalsingh@outlook.com?Subject=WCode">ujjwalSingh@outlook.com</a>
				</td>
			</tr>
			<tr>
				<td class="R1">paypal</td>
				<td class="R2">
					<a class="content-link" href="https://paypal.me/ujLion">ujLion</a><br>
				</td>
			</tr>
			<tr>
				<td class="R1">bitcoin</td>
				<td class="R2">
					<a class="content-link" href="bitcoin:19jAgQQjbR7CJv49MHmwDctWA5QtwMKkUB">19jAgQQjbR7CJv49MHmwDctWA5QtwMKkUB</a><br>
				</td>
			</tr>
			<tr>
				<td class="R1">blog</td>
				<td class="R2">
					<a class="content-link" href="http://ujnotes.com" onclick='trackOutboundLink("ujnotes", "http://ujnotes.com"); return false;'>ujnotes.com</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					linkedIn
				</td>
				<td class="R2">
					<a href="https://in.linkedin.com/in/ujLion" onclick='trackOutboundLink("uj-linkedin", "https://in.linkedin.com/in/ujLion"); return false;'>
						<img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Ujjwal Singh's profile on LinkedIn">
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					résumé
				</td>
				<td class="R2">
					<a class="content-link" href="http://stackoverflow.com/cv/ujjwal" onclick='trackOutboundLink("uj-so-cv", "http://stackoverflow.com/cv/ujjwal"); return false;'>StackOverflow&ndash;Careers</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					stackOverflow
				</td>
				<td class="R2">
					<a href="http://stackoverflow.com/users/483588/ujjwal-singh" onclick='trackOutboundLink("uj-so", "http://stackoverflow.com/users/483588/ujjwal-singh"); return false;'>
						<img src="http://stackoverflow.com/users/flair/483588.png?theme=dark" width="208" height="58" alt="profile for Ujjwal Singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Ujjwal Singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					facebook
				</td>
				<td class="R2">
					<a href="https://www.facebook.com/ujjwalSinghX" target="_TOP" title="Ujjwal Singh" onclick='trackOutboundLink("uj-fb", "https://www.facebook.com/ujjwalSinghX"); return false;'>
						<img src="https://badge.facebook.com/badge/100000014591845.2128.1052548703.png" style="border: 0px;" />
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					instagram
				</td>
				<td class="R2">
					<a class="content-link" href="https://instagram.com/UjLion" target="_TOP" title="Ujjwal Singh" onclick='trackOutboundLink("uj-ig", "https://instagram.com/UjLion"); return false;'>
						ujLion
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					google+
				</td>
				<td class="R2">
					<div id="me_g-plus">
					<div class="g-plus" data-href="https://plus.google.com/102060168325098516665" rel="author"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="R1">twitter</td>
				<td class="R2">
					<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/SpaceX">@SpaceX</a> You guys did it! - congratulations :). Looking forward to more such morning - where the world has just changed.. Salutes</p>&mdash; Ujjwal Singh (@ujLion) <a href="https://twitter.com/Uj013/status/679166674910625793">December 22, 2015</a></blockquote>
				</td>
			</tr>
		</table>
	</div>
</div>
