<div class="content">
		I am Ujjwal Singh from Nepal living in Bangalore, India.<br />
		<br />
		I believe:
		<blockquote>
		Technology is the biggest Game-Changer; we all will be One - one fine day :) that day&ndash;<br />
		&nbsp;Money would cease to exist & there will only be: no. of Likes.
		</blockquote>
		<table id="me-table">
			<tr>
				<td class="R1">Email</td>
				<td>
					<a class="content-link" href="mailto:uj@wcodes.org?Subject=WCode">uj@wcodes.org</a>
				</td>
			</tr>
			<tr>
				<td class="R1">Blog</td>
				<td>
					<a class="content-link" href="http://ujjwalsingh-betterworld.blogspot.in">ujjwalsingh-betterworld.blogspot.in</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					LinkedIn
				</td>
				<td>
					<a href="http://in.linkedin.com/pub/ujjwal-singh/36/6b6/a75">
						<img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Ujjwal Singh's profile on LinkedIn">
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					résumé
				</td>
				<td>
					<a class="content-link" href="http://careers.stackoverflow.com/ujjwal">StackOverflow&ndash;Careers</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					StackOverflow
				</td>
				<td>
					<a href="http://stackoverflow.com/users/483588/ujjwal-singh">
						<img src="http://stackoverflow.com/users/flair/483588.png?theme=dark" width="208" height="58" alt="profile for Ujjwal Singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Ujjwal Singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
					</a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					facebook
				</td>
				<td>
					<a href="https://www.facebook.com/UjjwalSingh13" target="_TOP" title="Ujjwal Singh"><img src="https://badge.facebook.com/badge/100000014591845.2128.1052548703.png" style="border: 0px;" /></a>
				</td>
			</tr>
			<tr>
				<td class="R1">
					google+
				</td>
				<td>
					<div id="me_g-plus"> 
					<div class="g-plus" data-href="https://plus.google.com/102060168325098516665" rel="author"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="R1">twitter</td>
				<td>
					<a class="twitter-timeline" href="https://twitter.com/Uj013" data-widget-id="288776844487049216">Tweets by @Uj013</a>
				</td>
			</tr>
		</table>
</div>
