<div class="content">
	<ul class="content-list">
		<li>
			Windows [ <span class="tba">8</span> | 7 | <span class="tba">Vista</span> | <span class="tba">XP</span> ]
			<ul class="content-list-2">
				<li>
					x64
						<ul>
							<li>
								<a class="content-link" href="/wcodex64.msi" download="WCodex64.msi">Installer</a>
								<span class="downlaod-hash">
									( MD5: <span class="download-md5">75E2602600735E32918CBCD95620578E</span> )
								</span>
							</li>
							<li>
								<span class="tba">Zip</span>
							</li>
						</ul>
				</li>
				<li>
					x86
						<ul>
							<li>
								<a class="content-link" href="/wcodex86.msi" downlaod="WCodex86.msi">Installer</a>
								<span class="downlaod-hash">
									( MD5: <span class="download-md5">BB6A07B82154A1F88F0C24607C72421B</span> )
								</span>
							</li>
							<li>
								<span class="tba">Zip</span>
							</li>
						</ul>
				</li>
			</ul>
		</li>
	</ul>
	</div>
</div>
