<div class="content">
	<ul class="content-list">
		<li>
			Windows [ <span class="tba">10</span> | <span class="tba">8</span> | 7 | <span class="tba">Vista</span> | <span class="tba">XP</span> ] - <span class='blue'>version 1.2</span>
			<ul class="content-list-2">
				<li>
					x86 - [ Download this if you are not sure ]
						<ul>
							<li>
								<a class="content-link" href="/wcodex86.msi" downlaod="WCodex86.msi">Installer</a>
								<span class="downlaod-hash">
									( SHA-256: <span class="download-hash-value">4984EC7F2ADFA426D685D642D93AF8ADBFF3CFA5BE3795E26BDF6618B98B30A8</span> )
								</span>
							</li>
							<!-- li>
								<span class="tba">Zip</span>
							</li -->
						</ul>
				</li>
				<li>
					x64
						<ul>
							<li>
								<a class="content-link" href="/wcodex64.msi" download="WCodex64.msi">Installer</a>
								<span class="downlaod-hash">
									( SHA-256: <span class="download-hash-value">C4582365F5BE2992289BC43FDEBD28062FEB25860F988A37593C79A023BDBD32</span> )
								</span>
							</li>
							<!-- li>
								<span class="tba">Zip</span>
							</li -->
						</ul>
				</li>
			</ul>
		</li>
	</ul>
	</div>
</div>
