<div class="content">
<h1>
	An encoding schema where in digital data is mapped to literal words.</span>
</h1>
<br />
<div id="codes-example">
	<table id="codes-table">
		<tbody>
			<tr class="code_label">
				<td>
				</td>
				<td>
					<img src="/resource/w_code.png" alt="WCode : \ Cat Apple Mango /" />
				</td>
				<td>
				</td>
			</tr>
			<tr class="Code">
				<td>
					<img src="/resource/bar_code.png" alt="Bar Code : Rectangle with black bars" />
				</td>
				<td>
					123456
				</td>
				<td>
					<img src="/resource/qr_code.png" alt="QR Code : Square with black blocks" />
				</td>
			</tr>
			<tr class="code_value">
				<td>
				</td>
				<td>
					<img src="/lg_example.png" alt="Example: \ Cat Apple Mango /" />
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p class="no-margin">
	Like barcodes, a WCode represents digital data.<br />
	It is different in that instead of geometrical figures like bars or blocks, it comprises of literal words.
</p>
</div>
