*{font-family: Arial, Verdana, sans-serif;}
html {height: 100%;} 
body {height: 100%; width: 980px; margin: 0 auto; background: #FAFAFA;}

h1 {font-weight: normal; font-size: 14px; margin: 0;}
#main-wrapper {position: absolute; width: 932px; padding: 0 24px; min-height: 744px; height: 100%; background: #FFF;}

#header-wrapper {position: absolute; height: 80px; top: 0; left: 24px; right: 24px; border-bottom: 1px solid #DDD;}
#header-logo {position: absolute; padding: 8px 0 0 6px;}
#header-logo a {text-decoration: none; border: none;}
#header-logo a, img {text-decoration: none; border: none;}
#header-slogan {position: absolute; bottom: 30px; left: 404px; font-size: 16px; color: #555; font-family: consolas; text-shadow: 0 1px 1px rgba(0,0,0,0.1)}

#header-example {position: absolute; right: 5px; top: 13px}
#logo {display: block; margin: 0 auto;}
#header-ex-num {font-size: 21px; padding-top: 2px;}
#header-ex-eq {color: #AAA;}
#live {color: #F00; line-height: 4px;}
#fund-site {color: rgb(48, 165, 243);}

#loading {position: absolute; left: 156px; top: 3px; display: none; font-size: 10px; color: #AAA;}

#updated {float:right; position: absolute; top: 0px; right: 24px; font-size: 10px; color: #CCC;}
#date {color: #999;}

#content-wrapper {position: absolute; top: 81px; bottom: 21px; left: 24px; right: 0;}

#content-separator {position: absolute; margin-left: 145px; top: 8px; bottom: 8px; border-left: 1px dotted #DDD;}

#canvas-wrapper {position: absolute; padding: 0px 0px 0px 0px; top: 0px; bottom: 0px; left: 148px; right: 0px; overflow: visible;}
#canvas-main {position: absolute; padding: 0px 24px 0px 18px; top: 14px; bottom: 26px; left: 0px; right: 0px; overflow: auto;}
#canvas-footer {position: absolute; bottom: 0px; left: 20px; right: 24px; background: #FFF; padding-top: 1px;}

#footer-wrapper {position: absolute; bottom: 0; width: 932px; height: 20px; text-align: center; border-top: 1px solid #DDD; font-size: 12px;}
#footer-wrapper-inside {margin: 2px 0; font-size: 11px; color: #444;}

#paypal-btn {display: inline; position: absolute; bottom: -20px; right: 2px; z-index: 1;}

.shadow-scroll-top {height: 5px; -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); background-color: transparent; background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);}
.shadow-scroll-bottom {position: absolute; bottom: 0; left:0; right: 0; height: 5px; -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); background-color: transparent; background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.2),transparent);}

.XURL {cursor: pointer;}

.twitter-timeline-rendered{width: 652px; padding: 0px 10px 0px 0px;}
#sidebar-nav {position: absolute; width: 148px; top: 0px; bottom: 0px; margin: 8px 0 0; padding: 0; z-index: 1; overflow: hidden;}
.sidebar-sub {padding: 2px 0px;}
#sidebar-nav li {padding-left: 0px; list-style: none; list-style-image: none; display: block; white-space: nowrap;}
.sidebar-nav-li div:hover {background: #CCC; margin-right: 2px;}
.sidebar-nav-li div:hover a{color: #FFF;}
.menu-container {padding-bottom: 4px;}
.sidebar-nav-l-0 a{padding-left: 14px; font-size: 14px; line-height: 150%; color: rgb(40, 148, 243); text-decoration: none;}
.sidebar-nav-l-1 a{padding-left: 28px; padding-right: 10px; line-height: 136%; font-size: 14px; color: rgb(40, 148, 233); text-decoration: none;}
.sidebar-nav-high {background-color: #68E; border-top: 4px solid #FFF; border-bottom: 4px solid #FFF;}
.sidebar-nav-high a{color: #FFF; text-decoration: none; font-weight: bold;}
.sidebar-nav-imp a{font-weight: bold;}
#share-box {height: 22px; overflow: hidden;}

.fb-like > span {vertical-align: baseline !important; margin-right: 12px;}
.twitter-share-button {width: 92px !important;}
#___plusone_0  {width: 72px !important;}
.IN-widget {margin-right: 14px !important;}
.FlattrButton {margin-left: 12px !important;}
.content {font-size: 13px;}
.content ol {padding-left: 20px;}
.content ul {padding-left: 20px; margin-top: 8px;}
/*.content a {color: #00F; text-decoration: none;}*/
.content-link {text-decoration: none; color: rgb(40, 148, 233);}
.content-high {background: #DDD; padding: 0 4px;}
.content-low {color: #CCC;}
.content-list ol {font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline;}
.content-list > li {font-size: 15px; font-family: Arial; background-color: transparent; vertical-align: baseline; padding-bottom: 14px;}
.content-list-2 > li {padding-bottom: 8px;}
.indent-16 {padding-left: 16px;}
.indent-10 {padding-left: 10px;}
.indent-20 {padding-left: 20px;}
/*.indent-30 {padding-left: 30px;}*/
.indent-40 {padding-left: 40px !important;}
.indent-32 {padding-left: 32px !important;}

.image-desc {padding-left: 40px;}

.note-title {float: left; width: 5%;}
.note-content {float: left; width: 95%;}

.downlaod-hash { font-size: 12px;}
.download-md5 { font-family: consolas}

.font-11 {font-size: 11px;}
.font-16 {font-size: 16px;}

.text-right {text-align: right;}
.indent-20-r {padding-right: 20px;}

.top-bottom-gap {padding: 12px 0 12px;}
.list-dash {list-style-type: none; padding-left: 28px;}
.code-font {font-family: consolas;}

.no-margin {margin: 0;}

.link-no-deco {text-decoration: none;}

.video {padding-left: 22px;}

#me-table {border-spacing: 6px 2px;}
#me-table .R1 {text-align: right;}

#content-timeline {padding-top: 8px; font-family: consolas;}

#codes-example {margin: 0 0 0 -20px; padding: 16px 0;}
#codes-table {text-align: center; border-spacing: 50px 4px;}
#bar_code {padding: 0 10px 0 10px;}
#qr_code {;}
.code_label {text-align: center; color: #444;}
.code_value {text-align: center; color: #888; font-size: 15px; font-family: courior-new;}

#code-ex-sep {padding: 6px 0; font-size: 13px;}

#manual-table {border-spacing: 8px 8px;}
#manual-table .C1 {font-weight: bold;}
.manual-table-s {border-spacing: 8px 6px;}
.manual-table-s.A {margin-left: -9px;}
.manual-table-s.A .C1{width: 94px;}
.manual-table-s caption {text-align: left; font-style: italic;}
.manual-table-s .C1 {width: 84px; font-weight: bold;}
#comparision-table {margin: 4px 0px 6px 16px; padding: 7px 11px 8px 11px; border-spacing: 4px 2px; background-color: #F2F2F2;}
#comparision-table > caption {text-align: left;}
#comparision-table th {text-align: left; padding-right: 4px; font-weight: normal;}
#comparision-table td {padding: 0 3px;}
#comparision-table .t-type {text-align: center;}
#comparision-table .t-size {text-align: center;}
#comparision-table .description {font-size: 14px;}

.diagram {padding: 20px 10px; position: relative;}

#sender-a {width: 200px; height: 140px;}
#label-sender-a {position: absolute;}
#encoder {width: 80px; height: 60px; background: #444; position: absolute; top: 0px; right: 0px;}
#ar-sender-receiver {width: 200px;}
#receiver {width: 200px; height: 140px;}
#decoder {width: 80px; height: 60px; background: #444; position: absolute; top: 0px; left: 0px;}
#g-presentation {overflow: hidden; margin-top: 20px;}
#ext-decoder {width: 90px; height: 40px;}
.punch-viewer-body {background: #FFF;}
#ar-ext-receiver {width: 40px;}
#ar-sender-ext {width: 40px;}

#feedback-contact-table {margin: 6px 0px 8px 16px; border-spacing: 8px 2px;}

.content-li-title {font-size: 16px; font-weight: bold; padding-bottom: 4px;}
.content-li-subtitle {font-size: 14px; font-weight: bold;}
.use-case-table {margin: 4px 0px 6px 16px; border-spacing: 4px 2px; width: 600px;}
.use-case-table > caption {text-align: left;}
.use-case-table tbody td {text-align: center; width: 50%; font-family: consolas;}
.use-case-table strong {font-family: consolas;}
.use-case-table tfoot td {text-align: left;}
.content-li-example {color: #888;}
#presentation-frame {padding: 8px 0 0 2px;}

.pending {color: #CCCCCC;}
.ready {color: #111111;}
.legend {padding-left: 24px;}

.human_factor-table {border-spacing: 4px 6px; width: 600px;}
.human_factor-table td {text-align: center; width: 200px; font-family: consolas;}

#reduction-table {border-spacing: 4px 6px;}
#reduction-table > caption {text-align: left; padding-top: 8px;}
#reduction-table th {text-align: right; padding-right: 24px;}
#reduction-table td {text-align: center; font-family: consolas; padding: 0 24px;}

#illustration-table {border-spacing: 4px 6px; width: 700px; table-layout: fixed; text-align: center;}
#illustration-table > caption {text-align: left; padding-top: 12px;}
#illustration-table .C1 {width: 76px;}
#illustration-table .C3 {width: 152px;}
#illustration-table .R1 {height: 78px;}
#illustration-table .R2 {height: 78px;}
#illustration-table .R3 {height: 78px;}
#illustration-table .type {font-weight: bold; text-align: right;}
#illustration-table .data {font-family: consolas;}
#illustration-table .map {margin: auto; border: 1px solid; border-spacing: 4px 6px; width: 140px; table-layout: fixed; text-align: center;}
#illustration-table .map td {font-family: consolas;}
#illustration-table .map .top {padding-top: 39px;}
#illustration-table .map caption {font-weight: bold;}
#illustration-table .div1 {padding-top: 20px;}

#logo-table {padding: 10px 0px 8px 0px; border-spacing: 24px 8px;}
#logo-part-table {padding: 12px 0px 8px 0px; border-spacing: 24px 8px;}

.license-text {text-align: center;}
.tba {color: #ccc;}
.voice-com-table {border-spacing: 20px 8px;}

.link-ref {font-style: italic;}

#wordlist-table {text-align: center; padding-left: 20px; border-spacing: 10px 10px;}

#data_set-table {border-spacing: 8px 8px;}
#data_set-table th {text-align: left;}
#data_set-table .R1 {width: 64px;}
#data_set-table .R2 {width: 140px;}
#data_set-table caption {text-align: left;}
#data_set-table th {text-align: left;}

#data_set_custom-table {border-spacing: 10px 4px;}
#data_set_custom-table caption {text-align: left; padding-left: 10px;}

.red {color: #F00;}
.blue {color: #00F;}
.green {color: #0A0;}
.grey {color: #AAA;}
