#share-box {height: 22px; overflow: hidden;}

.fb-like > span {vertical-align: baseline !important; margin-right: 12px;}
.twitter-share-button {width: 92px !important;}
#___plusone_0  {width: 72px !important;}
.IN-widget {margin-right: 14px !important;}
.FlattrButton {margin-left: 12px !important;}
