*{ font-family: Arial, Verdana, sans-serif; }
html { height: 100%; } 
body { max-width: 932px; margin:0 auto; /* background:#FAFAFA; */ }

h1 { font-weight:normal; font-size:14px; margin:0; }
strong {color: #69b7cf !important;}
img {
    max-width: 100%;
}
#main-wrapper { max-width: 932px; padding: 0; height: 100%; background:#FFF; }

#location { position:absolute; }

#header-wrapper {height: 152px; top:0; left:24px; right:24px; margin-left: auto; margin-right: auto; /* max-width: 744px; */}
#header-wrapper-divider { border-bottom:1px solid #DDD; margin-left: auto; margin-right: auto }
#wrapper-divider { border-bottom:1px solid #DDD; margin-left: auto; margin-right: auto; margin-top: 20px; }
#header-logo { width: 50%; float: right;margin-top: 26px;}
#header-logo a { text-decoration:none; border:none; }
#header-logo > a > img { text-decoration:none; border:none;height: 50px;}
#header-logo-href {padding-left:2px}
#header-slogan { width: 50%; float: left;margin-top: 49px; text-align: right;font-size: 18px;color:#555; font-family:consolas; text-shadow:0 1px 1px rgba(0,0,0,0.1)}
#header-slogan-text {
    padding-right: 6px;
    color: #69b7cf !important;
}
#header-slogan-href { text-decoration:none; }

#header-example { position:absolute; right:5px; top:37px }
#header-ex-num { font-size:21px; padding-top:2px; }
#header-ex-eq { color:#AAA; }
#live { color:#F00; line-height:4px; }
#fund-site { color:rgb(48, 165, 243); }

#loading {padding-top: 13px;display: inline-block; font-size:10px;color: #AAA !important;}

.buttons { }

#updated {/* position:absolute; */padding-right: 10px;font-size: 11px; color:#CCC;/* display: none; */text-align: right;}
#date {color: #cccccc;}

#content-wrapper * { font-family: abel;color: #555;transition: all ease-out 0.3s;}
#main-wrapper * {/* transition: all ease-out 0.3s; */}

#canvas-wrapper-inner-container {
    max-width: 1868px;
    width: 200%;
    transition: all 2s;
}

#content-separator { position:absolute; margin-left:145px; top:8px; bottom:8px; border-left:1px dotted #DDD; }

#canvas-wrapper {padding:0px 0px 0px 0px; overflow:hidden;transition: all 2s;margin: 8px;}
#canvas-main {/* padding: 0px 0px 18px 0px; */ overflow:hidden; width: 50%; display: inline-block;transform: translate(-100%,0);transition: all 1s;max-height: 9999px;}
#canvas-footer { background:#FFF; padding-top:1px; }

#footer-wrapper-divider { border-bottom:1px solid #DDD; max-width: 560px;margin-left: auto; margin-right: auto }
#footer-wrapper {/* max-width: 560px; */ /* height: 66px; */ text-align:center; font-size:12px; margin-left: auto;margin-right: auto;margin-top: -196px;position: relative;/* clear: both; *//* transition: all 9.7s; */}
#footer-wrapper-inside { margin: 26px 0; font-size: 12px;color: #444;}
#footer-left { text-align:center; }
#footer-middle { /* border-left: 1px solid #888; */ }
#footer-right { text-align: center; }

#paypal-btn { display:inline; position:absolute; bottom:-20px; right:2px; z-index:1; }

.shadow-scroll-top { height: 4px; -webkit-mask-box-image:-webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); background-color:transparent; background-image:-webkit-linear-gradient(top,rgba(0,0,0,.2),transparent); /* margin-right: 20%; */ /* margin-left: 20%; */}
.shadow-scroll-bottom { height: 4px; -webkit-mask-box-image:-webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%); background-color:transparent; background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.2),transparent); margin-left: 20%; margin-right: 20%;}

.XURL { cursor:pointer; }

.twitter-timeline-rendered{ width:652px; padding:0px 10px 0px 0px; }
@media only screen and (max-device-width: 768px) {
	#main-wrapper {padding:0 0px;}
}

h3 { margin: 0px; padding-bottom: 8px;color: #69B7CF !important;}
.bullet { padding: 0 5px; color: rgb(200, 200, 200) !important;}

#download-list { text-align: center; margin:auto;/* clear:both; *//* padding: 0 8px; */overflow: hidden;      display: inline-block;float: right;}
#download-android {/* width:50%; */ margin:0;float: right; text-align:right;}
#download-android a {padding: 4px 12px; display:inline-block;}
#download-android > a > span { height:33px; width: 33px; display: block;}
#download-windows {/* width:50%; */ margin:0; float:right;text-align:left;}
#download-windows a {padding: 5px 0 5px 12px; display:inline-block;}
#download-windows > a > span {
    width: 33px;
    height: 33px;
    display: block;
}

#social-links { padding-bottom: 14px; }

#menu-button {/* position: relative; *//* left:10px; *//* top:14px; *//* margin-left: 12px; */margin: 8px 0 0 12px;display: inline-block;      float: left;/* background-image: url('/resource/menu_icon_grey.png'); */background-size: contain;width: 36px;height: 36px;background-repeat: no-repeat;}

#menu-button:hover path {
    fill: #56B4D1;
}

#menu-button:hover {
    cursor: pointer;
}

#menu-button.no-svg {
    background-image: url('/resource/menu_icon_grey.png');
}

#menu-button.no-svg:hover {
    background-image: url('/resource/menu_icon.png');
}

#menu-button.no-svg.active {
    background-image: url('/resource/menu_icon.png');
}

#menu-button.active.no-svg:hover {
    background-image: url('/resource/menu_icon.png');
}

#content-wrapper {
    min-height: 100%;
    /* padding-bottom: 190px; */
    overflow: auto;
    /* transition: all 1s; */
}

#header-slogan {
}

#header-title {
    overflow: hidden;
    padding: 2px 0 12px;
}

details div {
    color: aqua;
}

summary ::-webkit-details-marker {}

summary::-webkit-details-marker {
    color: #ddd;
}

.social > a > img {
    width: 40px;
    height: 40px;
}

.placeholder-empty {
    height: 0 !important;
    border-style: none !important;
}

#wordlist-table span {
    width: 140px;
    display: inline-block;
}

.social > a > span {background-size: contain;      width: 38px;      height: 38px;      display: block;background-repeat: no-repeat;transition: all ease-out 0.3s;}
.social > a > span * {transition: all ease-out 0.3s}

#twitter > span.no-svg {
    background-image: url('/resource/twitter_grey.png');
}

#twitter > span.no-svg:hover {
    background-image: url('/resource/twitter.png');
}

#facebook > span.no-svg {
    background-image: url('/resource/facebook_grey.png'), url('/resource/facebook.svg');
}

#facebook > span.no-svg:hover {
    background-image: url('/resource/facebook.png');
}

#google > span.no-svg {
    background-image: url('/resource/google+_grey.png');
}

#google > span.no-svg:hover {
    background-image: url('/resource/google+.png');
}

.download > a > span.no-svg {
    background-size: contain;
    width: 33px;
    height: 33px;
    display: block;
    background-repeat: no-repeat;
}

#download-android > a > span.no-svg {
    background-image: url('/resource/google_play_grey.png');
}

#download-android > a > span.no-svg:hover {
    background-image: url('/resource/google_play.png');
}

#download-windows > a > span.no-svg {
    background-image: url('/resource/windows_grey.png');
}

#download-windows > a > span.no-svg:hover {
    background-image: url('/resource/windows.png');
}

div#path {
    text-align: center;
    /* background: #D9D9D9; */
    /* margin: auto; */
    /* width: 200px; */
    /* border-radius: 5px 0; */
    color: #69b7cf;
    /* border: #ddd; */
    /* border-style: solid; */
    /* border-width: 1px; */
    font-weight: bold;
    font-size: larger;
}

img#lg_wcode {
    height: 40px;
}

.center {
    margin: auto;
    text-align: center;
}


#header-bar {
    text-align: center;
}

#header-bar > div {
    width: 32%;
}

span.header-logo {
    width: 153px;
    display: inline-block;
}

span#bar-code {
    display: inline-block;
    width: 147px;
}

span#qr-code {
    display: inline-block;
    width: 147px;
}

#download-windows:hover path {
    fill: #56B4D1;
}

#download-android:hover path {
    fill: #56B4D1;
}

#twitter:hover path {
    fill: #56B4D1;
}

#facebook:hover path {
    fill: #56B4D1;
}

#google:hover span > svg > path {
    fill: #56B4D1;
}
/* 
svg {
    display: none;
} */

span#header-logo-image {
    background-image: url('/logo_full.png');
    height: 50px;
    width: 153px;
    background-size: contain;
}
